html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
  splash
*/

#container-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-image: url("../starter-code/img/wallpaper-shooter2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

#container {
  margin-top: 200px;
}

#splash-image {}

#name {
  font-family: OCR A Std, monospace;
  font-size: 100px;
  color: grey;
}

#shooter {
  animation: example 2s infinite;
  margin-bottom: 100px;
}

@keyframes example {
  0% {
    width: 60%;
  }
  25% {
    width: 60%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 60%;
  }
}

#score {
  position: relative;
  width: 100%;
  height: 66px;
}

/*
  maps
*/

#maps {
  display: flex;
  /*min-height: 90vh;*/
  overflow: hidden;
  background-color: white;
  justify-content: center;
  background-color: white;
  background-size: 100% 100%;
  height: 100vh;
}

.map {
  box-shadow: inset 0 0 0 5px;
  color: white;
  transition: font-size;
  background-size: cover;
  flex: 1;
  height: 100%;
}

.map-zombie {
  background-image: url("../starter-code/img/wallpaperZombies.jpg");
}

.map-terrorist {
  background-image: url('../starter-code/img/wallpaper-terrorist.png');
}

.map-aliens {
  background-image: url("../starter-code/img/wallpaper-alliens.jpg");
}

.map-nintendo {
  background-image: url("../starter-code/img/wallpaper-retro-games.jpg");
}

/*game */

#container2 {
  /*display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1420px;
  height: 800px;
  border: 1px solid grey;
  justify-content: center;*/
  /*animation: animate 0.25s infinite;*/
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 100vh;
}

@keyframes animate {
  0% {
    cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
  }
  20% {
    cursor: url("http://jantimon.nl/running_man/running_man_2.png"), auto;
  }
  40% {
    cursor: url("http://jantimon.nl/running_man/running_man_3.png"), auto;
  }
  60% {
    cursor: url("http://jantimon.nl/running_man/running_man_4.png"), auto;
  }
  80% {
    cursor: url("http://jantimon.nl/running_man/running_man_5.png"), auto;
  }
  100% {
    cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
  }
}

#targets {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 100%;
  height: 90vh;
}

/*#zombie-map1 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 100%;
  height: 90vh;
  animation: example2 1s infinite;
}*/

@@keyframes example2 {
  10% {
    background-image: url('../starter-code/img/wallpaperZombies.jpg');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 100%;
    height: 90vh;
  }
  100% {
    background-image: url('../starter-code/img/wallpaper-zombies2.png');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 100%;
    height: 90vh;
  }
}

#newTarget {
  /*position: absolute;*/
  width: 90px;
  min-height: 5vh;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#newTarget2 {
  position: absolute;
  width: 90px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  -webkit-animation: mymove 5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 2s infinite;
}

#points {
  margin: 0px;
  left: 564px;
}

.fuck {
  color: red;
  position: absolute;
  font-size: 100px;
  /*animation: mymove 1s;*/
}

/*@keyframes mymove {
  0% {
    top: 450px;
  }
  25% {
    top: 505px;
  }
  75% {
    top: 510px;
  }
  100% {
    top: 511px;
  }
}*/

/*CHARACTERS*/

/*#zombies {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("../starter-code/img/scared-people.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 565px;
  top: 209px;
  transition: font-size;
  flex: 1;
}*/

/*    RESULTS    */

#totalScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  background-image: url('../starter-code/img/game-over.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

#reset-btn {
  width: 200px;
  height: 200px;
  background-image: url('../starter-code/img/reset.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

/*    LIFE   */

#contentLife {
  display: block;
  width: 100%;
  height: 66px;
  border-radius: 15px;
}

#childLife {
  width: 100%;
  height: 66px;
  background-color: red;
  border-radius: 15px;
}

#full {
  width: 85%;
  height: 66px;
  background-color: red;
  border-radius: 15px;
  /*animation-name: example1;
  animation-duration: 3s;*/
  /*animation: example1 3s infinite;*/
}

/*@keyframes example1 {
  0% {
    width: 100%;
  }
  25% {
    width: 95%;
  }
  50% {
    width: 95%;
  }
  100% {
    width: 95%;
  }
}*/

#less1 {
  width: 65%;
  height: 66px;
  background-color: red;
  border-radius: 15px;
}

#less2 {
  width: 45%;
  height: 66px;
  background-color: red;
  border-radius: 15px;
}

#less3 {
  width: 25%;
  height: 66px;
  background-color: red;
  border-radius: 15px;
}

#less4 {
  width: 15%;
  height: 66px;
  background-color: red;
  border-radius: 15px;
}

#less5 {
  width: 0%;
  height: 66px;
  background-color: red;
  border-radius: 15px;
}

/*#empty {
  width: 0%;
  height: 100px;
  background-color: red;
}*/
